@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-gray-900 text-white;
}

::-webkit-scrollbar {
  display: none;
}

@keyframes waveAnimation {
  0% {
    transform: translateY(0);
    opacity: 0.8;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.6;
  }
  100% {
    transform: translateY(0);
    opacity: 0.8;
  }
}

.focus-waves::before,
.short-break-waves::before,
.long-break-waves::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.focus-waves::before {
  background: radial-gradient(circle, rgba(255, 0, 0, 0.3) 10%, transparent 60%);
  animation: waveAnimation 3s infinite ease-in-out;
}

.short-break-waves::before {
  background: radial-gradient(circle, rgba(0, 255, 0, 0.2) 10%, transparent 60%);
  animation: waveAnimation 3s infinite ease-in-out;
}

.long-break-waves::before {
  background: radial-gradient(circle, rgba(0, 0, 255, 0.2) 10%, transparent 60%);
  animation: waveAnimation 3s infinite ease-in-out;
}


@keyframes moveWaves {
  0% {
    transform: translateX(-20vw) translateY(-20vh) scale(1);
    opacity: 0.75;
  }
  15% {
    transform: translateX(15vw) translateY(-10vh) scale(1.05);
    opacity: 0.7;
  }
  30% {
    transform: translateX(-10vw) translateY(18vh) scale(1.15);
    opacity: 0.65;
  }
  45% {
    transform: translateX(30vw) translateY(-5vh) scale(1.1);
    opacity: 0.6;
  }
  60% {
    transform: translateX(-25vw) translateY(12vh) scale(1.2);
    opacity: 0.55;
  }
  75% {
    transform: translateX(12vw) translateY(-18vh) scale(1.1);
    opacity: 0.6;
  }
  90% {
    transform: translateX(-15vw) translateY(10vh) scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: translateX(-20vw) translateY(-20vh) scale(1);
    opacity: 0.75;
  }
}


@keyframes moveWavesInverse {
  0% {
    transform: translateX(20vw) translateY(20vh) scale(1);
    opacity: 0.75;
  }
  15% {
    transform: translateX(-15vw) translateY(10vh) scale(1.05);
    opacity: 0.7;
  }
  30% {
    transform: translateX(10vw) translateY(-18vh) scale(1.15);
    opacity: 0.65;
  }
  45% {
    transform: translateX(-30vw) translateY(5vh) scale(1.1);
    opacity: 0.6;
  }
  60% {
    transform: translateX(25vw) translateY(-12vh) scale(1.2);
    opacity: 0.55;
  }
  75% {
    transform: translateX(-12vw) translateY(18vh) scale(1.1);
    opacity: 0.6;
  }
  90% {
    transform: translateX(15vw) translateY(-10vh) scale(1.05);
    opacity: 0.7;
  }
  100% {
    transform: translateX(20vw) translateY(20vh) scale(1);
    opacity: 0.75;
  }
}



.lava-lamp,.lava-lamp-2 ,.lava-lamp-3, .lava-lamp-4 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 660px;
  height: 660px;
  aspect-ratio: 1 / 1; /* Prevent distortion */
  border-radius: 50%;
  overflow: hidden;
}

.lava-lamp {
  background: radial-gradient(circle, orange, magenta, indianred 60%);
  filter: blur(100px);
  animation: moveWaves 60s infinite reverse ease-in-out;
}

.lava-lamp-2 {
  animation-delay: 3s;
  background: radial-gradient(circle, gold, coral, crimson, midnightblue 60%);
  filter: blur(100px);
  animation: moveWavesInverse 30s infinite alternate ease-in-out;
}

.lava-lamp-3 {
  animation-delay: 3s;
  background: radial-gradient(circle, cyan, royalblue, purple, black 60%);
  filter: blur(100px);
  animation: moveWaves 15s infinite alternate ease-in-out;
}

.lava-lamp-4 {
  animation-delay: 3s;
  background: radial-gradient(circle, limegreen, teal, darkslateblue, black 60%);
  filter: blur(100px);
  animation: moveWavesInverse 90s infinite alternate-reverse ease-in-out;
}